
{% extends 'Verification/accountVerificationOption.html' %}
{% block  subContent %}

<div class="content" >

    <div class="pending">
        <div class="pendingAttributes">
            <p>Date applied </p>
            <p>Buisness type</p>
            <p>Store name</p>
            <p>City</p>
            <p>Status</p>
            <p>Actions
            </p>
        </div>
        {% for vendor in vendors %}
        <div class="pendingData">
            <p>{{vendor.dto}}</p>
            <p>{{vendor.businessType}}</p>
            <p>{{vendor.storename}}</p>
            <p>{{vendor.city}}</p>
            <p>Pending</p>
            <p class="pButton">
                <a href="{% url 'avPendingDetails'  %}">   <button id='accVPDId'  onclick="location.href='{% url 'avPendingDetails' vendor.id %}">View details</button></a>
               
             
            </p>

        </div>
        {% endfor %}



    </div>

</div>




{% endblock %}

