 
  {% load static %}
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <!DOCTYPE html>
  <html lang="en">
  
  <head>
  
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
      <meta charset="UTF-8">
      <title>Vendor register</title>
  </head>
  

      <body>
<div class="container">
  {% include 'Verification/sidebar.html' %}
  <div class="main">
    {% include 'Verification/navbar.html' %}
    {% block content %}

    {% endblock %}
    

  </div>

            
</div>
    
    
<script src="{% static 'js/admin.js' %}"></script>
</body>
</html>