{% extends 'Verification/clusteroptions.html' %}


{% block  subContent %}


{% include 'message_a.html' %}
<div class="content" id="clustersId">

    <div class="pending">
        <div class="pendingAttributes">
            <p>Cluster ID </p>
            <p>Orders</p>
            <p>Status</p>
            <p>Ship to</p>
            <p>Ship by</p>
            <p>Delivered by</p>

            <p>Actions</p>
        </div>

        {% if clusters %}
            {% for cluster in clusters %}
                <div class="pendingData">

                    <p>{{cluster.id}}</p>
                    <p>{{cluster.orderno}}</p>
                    <p>{{cluster.status}}</p>
                    <p>{{cluster.city}}</p>
                    <p>{{cluster.Shipby}}</p>
                    <p>{{cluster.Deliverby}}</p>
                    <a href="{% url 'oClusterDetails' cluster.id %}"><button id='oCCVDId'>View details</button></a>
                    <a href="{% url 'deletecluster' cluster.id %}"><button id='oCCVDId'>Delete</button></a>
                     {% if orderlst %}
                        <br>
                        <a href="{% url 'addtocluster' cluster.id orderlst  %}"><button id='oCCVDId'>Add to cluster</button></a>
                     {% endif %}

                    </div>
            {% endfor %}
        {% else %}
            <div class="pendingData">
            <p>There are no clusters in this state</p>
            </div>
        {% endif %}


        <a href="{% url 'oCreateCluster' %}"><button id='oCCVDId'>Create Cluster</button></a>
      







</div>
    </div>



{% endblock %}