{% extends 'Verification/main.html' %}
{% block content %}

{% include 'message_a.html' %}
<div class="tableContainer" id="oVDId">
    <h4>Cluster summary</h4>
    <table class="table">


         <tr>

            <td>City</td>
            <td>{{cluster.city}}</td>
        </tr>
        <tr>

            <td>Ship by</td>
            <td>{{cluster.Shipby}}</td>
        </tr>

        <tr>

            <td>Delivered by</td>
            <td>{{cluster.Deliverby}}</td>
        </tr>
         <tr>

            <td>Shipping service</td>
            <td>{{cluster.service}}</td>
        </tr>
        <tr>

            <td>Status</td>
            <td>{{cluster.status}}</td>
        </tr>



    </table>


    <h4>Cluster content</h4>



        {% for order in cluster.order_info %}
    <h4>Order ID: {{order.id}} </h4>
    <table class="table">

                <tr>
                    <td>Placed</td>
                    <td>{{order.orderCreated}}</td>
                </tr>
                <tr>
                    <td>Tax</td>
                    <td>Rs.0</td>
                </tr>
                <tr>
                    <td>Total Amount</td>
                    <td>Rs.{{order.totalAmount}}</td>
                </tr>



                <tr>
                    <td>Units</td>
                    <td>{{order.units}}</td>
                </tr>
                 <tr>
                    <td>Actions</td>
                    <td><a href="{% url 'delfromcluster' cluster.id order.id %}">  <button id='clustersId'>Remove</button></a></td>
                </tr>

        </table>
        {% endfor %}


    {% if cluster.status == 'pending' %}
        <a href="{% url 'shipcluster' cluster.id %}">  <button id='clustersId'>Ship</button></a>
    {% endif %}
    <a href="{% url 'oClusters' cluster.status %}">  <button id='clustersId'>Back to List</button></a>




</div>


{% endblock content %}