
{% extends 'Verification/main.html' %}
{% block content %}
 <div class="tableContainer" id="oCCVDId">

    <form>
        <label for="Shipto">Ship to: </label>
        <input type="text" name="Shipto" required placeholder="City"><br><br>

        <label for="Shipby">Ship by:</label>
        <input type="text" name="Shipby" required placeholder="DD/MM/YY"><br><br>

        <label for="To">To:</label>
        <input type="text" name="To" required placeholder="DD/MM/YY"><br><br>

        <label for="Deliverby">Deliver by:</label>
        <input type="text" name="Deliverby" required placeholder="DD/MM/YY"><br><br>

        <label for="To">To:</label>
        <input type="text" name="To" required placeholder="DD/MM/YY"><br><br>


        <label for="service">Shippint service:</label>
        <select name="service" placeholder="Servie type">
            <option>service 1</option>
            <option>service 2</option>
            <option>service 3</option>

        </select><br><br>

    </form>
  
    <a href="{% url 'oClusters' %}">  <button id='clustersId'>Back to List</button></a>
    <a href="{% url 'oClusters' %}">  <button id='clustersId'>Create Cluster</button></a>
   
</div>


{% endblock%}