{% extends 'Verification/orderOption.html' %}
{% block  subContent %}
<div class="content" id="upForDelivery">
    <form action="{% url 'cluster'%}" method="post">
        <button type="submit" name="create" >Create cluster</button>
        <button type="submit" name="add" >Add to existing cluster</button>
        {% csrf_token %}
     <div class="pending">
            <div class="pendingAttributes">
                <p>Order ID </p>
                <p>Buyer</p>
                <p>Date</p>
                <p>Items</p>
                <p>Status</p>
                <p>Actions</p>
            </div>
           
            
            {% if orders %}
                {% for order in orders %}

                    <div class="pendingData">
                        <input type="checkbox" name="ordercheck" value="{{order.id}}">
                    
                        <p>{{order.id}} </p>
                        <p>{{order.customer.name}}</p>
                        <p>{{order.orderCreated}}</p>
                        <p>{{order.products|length}}</p>
                        <p>{{order.status}}</p>
                        <p class="pButton">
                            <a href="{% url 'oUnfulfilledDetails' order.id  %}"> <button type="button" id='oVDId' onclick="location.href='{% url 'oUnfulfilledDetails' order.id  %}'">View details</button></a>
                            <a href="{% url 'oUnfulfilledUpdate' %}">   <button id='oUpId'>Update</button></a>



                        </p>

                    </div>
                {% endfor %}
            </form>
            {% else %}
                <div class="pendingData">
                    <p>There are no orders up for delivery</p>

                </div>
            {% endif %}




        </div>
    

</div>


{% endblock %}



